<%@ page language="java" contentType="text/html; charset=EUC-KR" pageEncoding="EUC-KR"%>
<%String ctxPath = (String)request.getContextPath(); %>
/* 기본정의 */
body,td,select,div,form,textarea,center,option,pre,blockquote,table
{font-size: 12px; font-family:돋움,굴림,verdana; color: #6799FF; line-height:18px;}
a { font-size: 12px; font-family:돋움,굴림,verdana; color: #B2CCFF; line-height:18px;}
a:link    {color:#8041D9;text-decoration:none}
a:visited {color:#000000;text-decoration:none}
a:hover  {color:#B2CCFF;text-decoration:none}
a.list{font-family:돋움,굴림,verdana;color:#257dcb;line-height:18px;}
a.list:link{color:#B2CCFF;text-decoration:none;}
a.list:visited{color:#B2CCFF;text-decoration:none;}
a.list:hover{color:#B2CCFF;text-decoration:underline;}
